<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wheater page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
       <div class="f_div">
             <input type="text" id="ctry_name" name="country" placeholder="enter country name">
             <button  id="weather-btn" type="button">Find The wheather</button>
       </div>
       <div class="info">

          <h2>Welcome to our website. To know your country's weather,longitude and latitude, please Enter 
            the name of  your country</h2>
       </div>
       
       <h2>{{data}}</h2>

       
       <script src="js/script.js"></script>
    
</body>
</html>